body {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/20/18/35/sunrise-1756274_960_720.jpg");
    background-size: 100%;
}
h1 {
    color: blanchedalmond;
    text-align: center;
    text-shadow: 8px 4px 10px rgb(226, 55, 55);
}
ul {
    border: 2px solid rgb(250, 51, 51);
    width: 400px;
    margin-left: 470px;
}
li {
    color: blanchedalmond;
    list-style-type: none;
    margin: 30px;
    padding: 0px;
    display: inline;
}

form {
    color: blanchedalmond;
    text-shadow: 8px 4px 10px rgb(226, 55, 55);
    border: 2px solid rgb(134, 156, 101);
    margin: 2px;
    padding: 4px;
    width: 300px;
    border-radius: 5px;
}

input[type-text] {
width: 100%;
padding: 10px;
margin: 5px;
box-sizing: border-box;

}
table {
    color: blanchedalmond;
    text-shadow: 8px 4px 10px rgb(226, 55, 55);
}
